.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  /* COLOR ONLY */
  background: rgba(15, 23, 42, 0.95);
  border-bottom: 1px solid #334155;

  backdrop-filter: blur(10px);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;

  /* COLOR ONLY */
  color: #F8FAFC;

  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;

  /* COLOR ONLY */
  color: #CBD5E1;

  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {

  /* COLOR ONLY */
  color: #38BDF8;
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}

.menu-button {
  display: none;

  /* COLOR ONLY */
  background: none;

  border: none;

  font-size: 1.8rem;
  cursor: pointer;

  color: #F8FAFC;
}

@media (max-width: 900px) {

  .menu-button {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;

    /* COLOR ONLY */
    background: #0F172A;
    border-bottom: 1px solid #334155;

    flex-direction: column;
    gap: 20px;
  }

  .nav-links.active {
    display: flex;
  }
}
